<%- include('../../partials/header'); -%>
    <div class="container">
        <div class="card mt-4">
            <div class="card-header">
                <% if (locals.category) { %>
                    <h4>Editar Categorias</h4>
                    <% }else{ %>
                        <h4>Cadastrar Categorias</h4>
                        <% } %>
            </div>
            <div class="card-body">
                <% if (locals.category) { %>
                    <form method="POST" action="/admin/categories/store">
                        <div class="mb-3">
                            <label for="category" class="form-label">Titulo da Categoria</label>
                            <input type="text" class="form-control" id="category" name="title" value="<%= category.title %>"
                                placeholder="digite o titulo da categoria">
                        </div>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </form>
                    <% }else{ %>
                        <form method="POST" action="/admin/categories/store">
                            <div class="mb-3">
                                <label for="category" class="form-label">Titulo da Categoria</label>
                                <input type="text" class="form-control" id="category" name="title"
                                    placeholder="digite o titulo da categoria">
                            </div>
                            <button type="submit" class="btn btn-primary">Cadastrar</button>
                        </form>
                        <% } %>
            </div>
        </div>

    </div>
    <%- include('../../partials/footer'); -%>