<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">Blog Press</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <% if (locals.categories) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Category
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <% categories.forEach(category=> { %>
                                <li><a class="dropdown-item border-bottom border-1"
                                        href="/category/<%= category.slug %>">
                                        <%= category.title %>
                                    </a></li>
                                <%})%>
                        </ul>
                    </li>
                    <% } %>
                        <% if (locals.login) { %>
                            <li>
                                <a class="nav-link active" aria-current="page"
                                    href="/admin/categories/index">Categorias</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/admin/articles/index">Artigos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/admin/users/index">Usuários</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Olá <%= login.first_name %>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                                    <li>
                                        <a class="dropdown-item" href="/logout">
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <% }else{ %>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/login">Login</a>
                                </li>
                                <% } %>
            </ul>
        </div>

    </div>
</nav>